<section id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Welcome</h1>
          <p class="intro-text">Im glad we are back together because Woah! I miss your Kiss. Reunited and
        it feels so good. Reunited and it is heart heart #NeverQuitItUp</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id = "why">
  <h1> Why Pandicorns </h1>
  <h3> These are the classifications of every Pandicorns living in the world.</h3>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-4">
        <div class="media">
          <div class="media-left pull-left">
            <a href="#">
              <i class="fa fa-briefcase fa-5x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"> Professional </h4>
            <p> I never been this close. To anyone or anything. I can hear
            your thoughts. I can see your dreams. </p>
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="media">
          <div class="media-left pull-left">
            <a href="#">
              <i class="fa fa-money fa-5x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Rich as F***</h4>
            <p> I do not know what you do, Im so inlove with you. It just
              getting better.</p>
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="media">
          <div class="media-left pull-left">
            <a href="#">
              <i class="fa fa-dashboard fa-5x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Fast as the Speed of Light</h4>
            <p> And it feels like the first time. Everytime. I want to spend
              all night with you by my side.</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4">
        <div class="media">
          <div class="media-left pull-left">
            <a href="#">
              <i class="fa fa-gear fa-5x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Resourceful</h4>
            <p> And it feels like the first time. Everytime. I want to spend
              all night with you by my side.</p>
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="media">
          <div class="media-left pull-left">
            <a href="#">
              <i class="fa fa-users fa-5x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Kind, Angel-like</h4>
            <p> And it feels like the first time. Everytime. I want to spend
              all night with you by my side.</p>
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="media">
          <div class="media-left pull-left">
            <a href="#">
              <i class="fa fa-book fa-5x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Intelligent, Educated</h4>
            <p> And it feels like the first time. Everytime. I want to spend
              all night with you by my side.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id = "who">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1> Who </h1>
        <h3> The biggest community of Pandicorn ever. Forever and Ever. Put your right feet in
        and put your right fee out, put your right feet there and shake it all about. Lets do
        the boogie boogie and that is all about. </h3>
        <a href="#" class="btn btn-primary btn-lg"> Contact Us Now </a>
      </div>
    </div>
  </div>
</section>

<section id="clients" class="content-section text-center">
   <div class="container">
    <h2>Apparels</h2>
    <img src="obj1.jpg">
    <img src="obj2.jpg">
    <img src="obj3.jpg">
    <img src="obj4.jpg">
    <img src="obj5.jpg">
   </div>
</section>

<section id="contact" class="content-section text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>PANDICORN</h2>
      <p>Feel free to shoot us an email any time for any reason. You can also follow us on Twitter, Facebook and Google+</p>
      <p>contact@pandicorn.com</p>
      <ul class="list-inline banner-social-buttons">
        <li><a href="http://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li><a href="http://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li><a href="http://plus.google.com" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
    </ul>
    </div>
  </div>
</section>
